.Myhome {
  text-align: center;
  margin: o;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  height:100%;
  width: 100%;
  background:rgb(155, 182, 186);
  color: White;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
